fastapi[standard]
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
python-dotenv
email-validator
google-auth
pydantic-settings
requests
passlib
boto3
botocore
jmespath
s3transfer
stripe
APScheduler
pytz
reportlab